.new-comics-block {
    width: 1100px;
    height: 100px;
    background: #232222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 45px;
    margin: 0 0 50px 0;
}

.comics .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
    max-width: 235px;
    margin-left: 83px;
}

.comics-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comics-item img{
    max-width: 225px;
    height: 346px;
}

.comics-name {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 10px 0 5px;
    color: black;
}

.comics-price {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.comics-item {
    max-width: 225px;
    margin: 50px 0 5px 0;
    text-decoration: none;
}

.comics-load-more {
    margin: 40px auto 5px;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    width: 170px;
    height: 38px;
    background: #9F0013;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}